body{
    font-family: 'Fredoka One', cursive;    
    text-shadow: 3px 4px 2px hsla(0, 0%, 0%, 0.623);
    text-align: center;
    letter-spacing: 1px;
    
}
h1{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:red;
    font-size:50px;
}

.welcome-item{
    color:white;
    color: white;
    font-size:30px;
    
}


h2{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
    font-size:25px;
   
}

h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
    font-size:20px;
}
h4{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
    font-size:20px;
}

#main-bird{
    width:200px;
    border-radius: 50%;
    align-self: left;
    box-shadow:0px 0px 20px #f7faf6;
}

#choices{
    display:flex;
    justify-content:center;

}
.choice{
    margin:8px;
    padding:8px 15px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    background-color:#f8f9fa;
    border:1px solid #4b4b4b;
    border-radius:4px;

}
.choice:hover{
    box-shadow:0px 0px 20px #f7faf6;
}

img{
    box-shadow:0px 0px 50px #000;
}
