@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body{
    text-align: center;
    letter-spacing: 1px;
    
    
}

h1{
    font-family: 'Comforter', cursive;
    color:navy;
    font-size:50px;
}

.welcome-item{
    color: navy;
    color: navy;
    font-size:30px;
    
}


h2{
    color:navy;
    font-size:25px;
   
}

h3{
    color:navy;
    font-size:20px;
}

h4{
    color:navy;
    font-size:20px;
}

#main-birds{
    justify-content:center;
    
}
.main-bird {
    width:200px;
    border-radius: 50%;
    box-shadow:0px 0px 10px #f7faf6;
}
.main-bird:hover{
    box-shadow:0px 0px 25px #f7faf6;
}

.other-bird{
    width:200px;
    border-radius: 50%;
    box-shadow:0px 0px 10px #f7faf6;

}
#choices{
    display:flex;
    justify-content:center;

}
.choice{
    margin:8px;
    padding:8px 15px;
    cursor: pointer;
    font-size:20px;
    background-color:#f8f9fa;
    border:1px solid #4b4b4b;
    border-radius:4px;

}
.choice:hover{
    box-shadow:0px 0px 20px #f7faf6;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow:0px 0px 20px #f7faf6;
}

li{
    display: inline;
}

li a {
  color: darkcyan;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  box-shadow:0px 0px 20px darkcyan;
}

img{
    box-shadow:0px 0px 50px #f7faf6;
}




