body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    color:rgb(204,229,255);
    font-size:42px;
}

body {
    background-image:
        url("plovereating.jpg");
  }